//- -var isLocalDev = window.location.host.indexOf('5757a') !== -1 || window.location.host.indexOf('lifecapital.dev') !== -1
//- if isLocalDev
script(type='text/javascript', src='http://localhost:48626/takana.js')
script(type='text/javascript').
    takanaClient.run({host: 'localhost:48626'});