@import form-range
@import form-success

&-form
	position: relative
	width: 90%
	max-width: 580px
	+center(45px, 0)
	background-color: $white
	border: 1px solid $border
	border-radius: 3px

	&-wrap
		position: relative
		overflow: hidden
		padding: 0 70px
		box-sizing: border-box

		+max(520)
			padding: 0 40px
		+max(420)
			padding: 0 30px

	&-step
		position: relative
		overflow: hidden
		height: 0

		&.show
			height: auto
		.no-js &
			height: auto

		&-wrap
			padding-top: 23px
			+clearfix

			+max(520)
				padding-top: 0


		&-title
			position: relative
			bottom: -20px
			padding-top: 18px
			font-size: 26px
			color: $primary
			text-align: center
			&.partner-title
				padding-top: 0
				bottom: -40px
				+m(580)
					bottom: -25px
 
	// ==== Fieldsets =================================================================================

	&-fieldset
		position: relative
		width: 100%
		margin-top: 37px

		&.error
			animation: shakey 0.2s

		&.half
			float: left
			width: perc(214.5px, 444px)
			margin-left: perc(15px, 444px)
			&.first
				margin-left: 0

		&.third
			float: left
			width: perc(138px, 444px)
			margin-left: perc(15px, 444px)
			&.first
				margin-left: 0

		&.fourth
			float: left
			width: perc(99.5px, 444px)
			margin-left: perc(15px, 444px)
			&.first
				margin-left: 0

		&:last-child
			padding-bottom: 50px


		&-label
			font-size: 14px
			font-weight: 700
			text-transform: uppercase
			color: $grey-mid
			
			+max(420)
				.mobile-hide
					display: none

			.radio &,
			.range &,
			.file &,
			.signature &
				padding-bottom: 10px

			.error &
				color: $error-color



		=field
			background-color: $subwhite
			border: 1px solid $border
			border-radius: 3px
			box-sizing: border-box
			color: $grey-mid

		
		@import form-fieldset-input

		@import form-fieldset-radio

		@import form-fieldset-select

		@import form-fieldset-textarea
		
		@import form-fieldset-file

		@import form-fieldset-range

		@import form-fieldset-signature




	@import form-buttons
	
	@import form-terms
	
@import form-results
@import form-partner


// .fieldset:nth-child(1), .fieldset:nth-child(1) + .half
// 	// First Fieldset Margin fix
// 	padding-top: 68px
// 	margin-top: 0
// 	+m(580)
// 		padding-top: 40px

input[type="radio"],
.sign-placeholder
	display: none



/* ==========================================================================
 * Dual Line Label Fix (mobile)
 * ========================================================================== */

+m(455)
	.dba
		p.question:after
			content: 'aaaaaa'
			color: $white
	.ssn, .ownership
		p.question:after
			content: ' aaaaaaaa'
			color: $white
	.ssn p.question
		padding-left: 10px


+m(480)
	.tax_id
		p.question:after
			content: 'aaaaaaaaaaaaaaa'
			color: $white