header#masthead.header(role='banner')
  .hero

    include ../_parts-global/header-nav.jade

    .hero-text
      h1.hero-text-title Privacy Policy
      p.hero-text-subtitle This Privacy Notice discloses the privacy practices for www.mylifecapital.com and applies solely to information collected by this web site.