header#masthead.header(role='banner')
  .hero

    include ../_parts-global/header-nav.jade

    .hero-text
      h1.hero-text-title Pre-approval Calculator
      p.hero-text-subtitle See what your business is pre-approved for in less than a minute.