header#masthead.header(role='banner')
  .hero

    include ../_parts-global/header-nav.jade

    .hero-text
      h1.hero-text-title About Life Capital
      p.hero-text-subtitle Get to know Life Capital, who's behind it, and how it had reached its success.