header#masthead.header(role='banner')
  .hero
    
    a.hero-logo(href='/')
        img.hero-logo-img(src='img/logo.png', width='154', height='154', alt='Life Capital', title='Life Capital Logo')
    
    .hero-text
      h1.hero-text-title Relax, Life is by your side.
      p.hero-text-subtitle Sit back and relax, as your masterful account executives and in-house underwriters quickly prepare the perfect funding solution for you and your business.
    
    .hero-action
      .hero-action-icon
      .hero-action-text Scroll

  .benefits
    .benefits-wrap
      .benefits-item
        .benefits-item-wrap
          .benefits-item-icon.icon-loanrange
          span.benefits-item-text Loans from $5K to $5M
      .benefits-item
        .benefits-item-wrap
          .benefits-item-icon.icon-rates
          span.benefits-item-text Rates starting at 5%
      .benefits-item
        .benefits-item-wrap
          .benefits-item-icon.icon-immediate
          span.benefits-item-text Immediate pre-approval