section.section.stories
  .section-title
    h2.section-title-text Stories of growth from Life Capital Reserve Clients
  .stories-list
    .stories-list-item.monaco
      img.stories-list-item-img(alt='monaco-construction', src='img/img-monaco.jpg', width='410')
      .stories-list-item-content
        p.stories-list-item-content-title
          span.stories-list-item-content-title-highlight Contract
          |  opportunity
        p.stories-list-item-content-text
          | See how 
          span.stories-list-item-content-text-highlight Monaco Construction
          |  secured a new contract with our help.
      article.stories-list-item-modal.md-modal.md-effect-5
        .stories-list-item-modal-content
          .stories-list-item-modal-content-close
          .stories-list-item-modal-content-img
            p.stories-list-item-modal-content-title
              span.stories-list-item-modal-content-title-highlight Monaco Construction's
              br
              | Contract opportunity
          p.stories-list-item-modal-content-text
            | Robert from Monaco Construction secured several new lucrative contracts.
            br
            br
            | He needs funding to purchase raw materials, hire additional help and cover day to day expenses. Robert applied online on Wednesday, got approved the same day and funded on the following day. 
            br
            br
            | Monaco Construction can now start 6 new contracts at an average of $80,000 per project.
    .stories-list-item.sunflower
      img.stories-list-item-img(alt='sunflower-cafe', src='img/img-sunflower.jpg', width='410')
      .stories-list-item-content
        p.stories-list-item-content-title
          span.stories-list-item-content-title-highlight Expansion
          |  opportunity
        p.stories-list-item-content-text
          | See how 
          span.stories-list-item-content-text-highlight Sunflower Cafe
          |  expanded for more business with our help.
      article.stories-list-item-modal.md-modal.md-effect-5
        .stories-list-item-modal-content
          .stories-list-item-modal-content-close
          .stories-list-item-modal-content-img
            p.stories-list-item-modal-content-title
              span.stories-list-item-modal-content-title-highlight Sunflower Cafe's
              br
              | Expansion opportunity
          p.stories-list-item-modal-content-text
            | Danielle from Sunflower Cafe is looking to grow her business by adding a new outdoor dinning section.
            br
            br
            | She needs money quickly to cover construction costs, furniture and additional equipment. Danielle spoke with her team at Life Capital on Sunday and received the money she needed on Tuesday. 
            br
            br
            | Sunflower Cafe successfully finished the outdoor section which increased their seating capacity and profits by 60% in the spring and summer seasons.
    .stories-list-item.rue
      img.stories-list-item-img(alt='rue-21', src='img/img-rue.jpg', width='410')
      .stories-list-item-content
        p.stories-list-item-content-title
          span.stories-list-item-content-title-highlight Inventory
          |  opportunity
        p.stories-list-item-content-text
          | See how 
          span.stories-list-item-content-text-highlight Rue 21
          |  met their customers' shopping demands with our help.
      article.stories-list-item-modal.md-modal.md-effect-5
        .stories-list-item-modal-content
          .stories-list-item-modal-content-close
          .stories-list-item-modal-content-img
            p.stories-list-item-modal-content-title
              span.stories-list-item-modal-content-title-highlight Rue 21's
              br
              | Inventory opportunity
          p.stories-list-item-modal-content-text
            | Laura and James need access to funding periodically for inventory and seasonal increases in demand.
            br
            br
            | Their team at Life Capital custom tailored a Line of Credit solution to best fit Laura and James' immediate and future funding needs.
            br
            br
            | Rue 21 now has the financial freedom to capitalize on good opportunities as they come.
