section.section.section-four
  .steps-section-wrap
    .steps-section-title
      span.steps-section-title-wrap How It Works
    .steps
      .steps-wrap
        .step-group.apply
          .step-icon.icon-apply
          p.step-text Apply Online
        .step-group.approve
          .step-icon.icon-approve
          p.step-text Get Approved
        .step-group.fund
          .step-icon.icon-fund
          p.step-text Get Funded