section.section.intro
  .section-title
    h2.section-title-text Welcome to Life Capital Reserve Client
    p.subtitle.section-title-subtitle Join a community of business owners that have entered our Reserve Client Program to expand, progress and prosper. Thus giving you the freedom to tend to your business, while your team is constantly creating solutions to ensure your business is operating with enjoyment, comfort and rapid profitability.
  
  .intro-benefits
    .intro-benefits-coins.svg-coins
      svg#coins(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='377', height='257', xml:space='preserve')
        g#coin
          path#path-1(style='stroke:#B7B7B7;', d='M156.3,253.4c-9,2-18.3,3-27.8,3\
          c-9.6,0-18.9-1.1-27.9-3C43.4,240.7,0.5,189.6,0.5,128.5c0-61.1,42.9-112.2,100.1-125c9-2,18.3-3,27.9-3c9.6,0,18.9,1,27.8,3\
          c57.3,12.7,100.2,63.8,100.2,125C256.5,189.6,213.6,240.7,156.3,253.4z')
        g#coin_1_
          path#path-2(style='fill:#F2F2F2;stroke:#B7B7B7;', d='M219.3,253.4c-9,2-18.3,3-27.8,3\
          c-9.6,0-18.9-1.1-27.9-3c-57.3-12.7-100.1-63.8-100.1-125c0-61.1,42.8-112.2,100.1-125c9-2,18.3-3,27.9-3c9.6,0,18.9,1,27.8,3\
          c57.3,12.7,100.2,63.8,100.2,125C319.5,189.6,276.6,240.7,219.3,253.4z')
        g#coinmain
          path#path-3(style='fill:#F2F2F2;stroke:#B7B7B7;', d='M276.3,253.4c-9,2-18.3,3-27.8,3\
          c-9.6,0-18.9-1.1-27.9-3c-57.3-12.7-100.1-63.8-100.1-125c0-61.1,42.9-112.2,100.1-125c9-2,18.3-3,27.9-3c9.6,0,18.9,1,27.8,3\
          c57.3,12.7,100.2,63.8,100.2,125C376.5,189.6,333.6,240.7,276.3,253.4z')
          g#dollar
            path#path-4(style='stroke:#0B557E;stroke-width:5;', d='M293.1,105.2c0-3.5-0.7-6.8-2.1-9.9\
            c-1.4-3.1-3.4-5.9-6.2-8.4c-2.7-2.5-5.7-4.3-9.1-5.6c-2.7-1-5.5-1.6-8.5-1.8c-0.7,0-37.4,0-38.1,0c-12.1,0.7-19.9,7.2-23.5,15.4\
            c-1.4,3.3-2.1,6.8-2.1,10.3c0,3.5,0.7,7,2.1,10.3c3.6,8.2,11.4,14.7,23.5,15.4c0.7,0,39,0,39.8,0c12.1,0.7,19.9,7.4,23.5,15.6\
            c1.4,3.3,2.2,6.8,2.2,10.3c0,3.5-0.7,7-2.2,10.3c-3.6,8.2-11.4,14.7-23.5,15.4c-0.7,0-37.4,0-38.1,0c-6.8-0.5-13-3.2-17.6-7.4\
            c-5.1-4.6-8.3-11-8.3-18')
              path#path-5(style='stroke:#0B557E;stroke-width:5;', d='M250.5,65.5v131')
    .intro-benefits-content
      .intro-benefits-content-wrap
        h3.intro-benefits-content-title No restrictions on how you use the funds.
        p.intro-benefits-content-subtitle How will your business benefit from a Life Capital Loan?
        ul.intro-benefits-content-list
          .intro-benefits-content-list-line
            svg#line(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='45', height='412', xml:space='preserve')
              path#line-dash(style='fill-rule:evenodd;clip-rule:evenodd;stroke:#B8B8B8;', transform='rotate(180) translate(-47,-410)', d='M23.5,398.5v-388')
              path#line-circ_6(style='fill-rule:evenodd;clip-rule:evenodd;fill:#F2F2F2;stroke:#B8B8B8;', d='M23.5,369.5\
              c11.6,0,21,9.4,21,21c0,11.6-9.4,21-21,21s-21-9.4-21-21C2.5,378.9,11.9,369.5,23.5,369.5z')
              path#line-circ_5(style='fill-rule:evenodd;clip-rule:evenodd;fill:#F2F2F2;stroke:#B8B8B8;', d='M23.5,296.5\
              c11.6,0,21,9.4,21,21c0,11.6-9.4,21-21,21s-21-9.4-21-21C2.5,305.9,11.9,296.5,23.5,296.5z')
              path#line-circ_4(style='fill-rule:evenodd;clip-rule:evenodd;fill:#F2F2F2;stroke:#B8B8B8;', d='M23.5,222.5\
              c11.6,0,21,9.4,21,21c0,11.6-9.4,21-21,21s-21-9.4-21-21C2.5,231.9,11.9,222.5,23.5,222.5z')
              path#line-circ_3(style='fill-rule:evenodd;clip-rule:evenodd;fill:#F2F2F2;stroke:#B8B8B8;', d='M23.5,148.5\
              c11.6,0,21,9.4,21,21c0,11.6-9.4,21-21,21s-21-9.4-21-21C2.5,157.9,11.9,148.5,23.5,148.5z')
              path#line-circ_2(style='fill-rule:evenodd;clip-rule:evenodd;fill:#F2F2F2;stroke:#B8B8B8;', d='M23.5,75.5\
              c11.6,0,21,9.4,21,21s-9.4,21-21,21s-21-9.4-21-21S11.9,75.5,23.5,75.5z')
              path#line-circ_1(style='fill-rule:evenodd;clip-rule:evenodd;fill:#F2F2F2;stroke:#B8B8B8;', d='M23.5,1.5\
              c11.6,0,21,9.4,21,21s-9.4,21-21,21s-21-9.4-21-21S11.9,1.5,23.5,1.5z')
          li.intro-benefits-content-list-item.first
            .intro-benefits-content-list-item-wrap
              svg.intro-benefits-content-list-item-svg#advertising(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='25.3', height='20.3', xml:space='preserve')
                path(d='\
                M11.6,18.2v0.9c0,0.5-0.4,0.9-0.9,0.9H6.2c-0.5,0-0.9-0.4-0.9-0.9V16l6.4,2C11.6,18.1,11.6,18.1,11.6,18.2z M17.9,18L1.3,12.9\
                c-0.2-0.3-0.5-0.9-0.5-1.9c0-1,0.3-1.7,0.5-1.9l16.7-5.2 M17.9,18c-0.3-0.6-2.5-2.6-2.5-7.1c0-4.5,2.2-6.5,2.5-7.1\
                c0.3,0.6,0.9,2.6,0.9,7.1C18.8,15.5,18.3,17.4,17.9,18z M20.9,3c1.1,2.3,1.7,5.1,1.7,8c0,2.9-0.6,5.6-1.7,7.9 M23.9,0.8\
                c1.4,3,2.2,6.5,2.2,10.2c0,3.7-0.7,7.2-2.2,10.2')
            p.intro-benefits-content-list-item-text Advertising and Marketing
          li.intro-benefits-content-list-item.second
            .intro-benefits-content-list-item-wrap
              svg.intro-benefits-content-list-item-svg#inventory(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='22', height='23', xml:space='preserve')
                line(x1='9.7', y1='4.8', x2='6.7', y2='4.8')
                polyline(points='\
                3.1,4.6 0.6,4.6 0.6,22.6 16,22.6 16,4.6 13.2,4.6 ')
                polyline(points='\
                16,22.6 18.2,21.2 20.8,22.6 20.8,4.6 15.7,4.6 ')
                path(d='\
                M4.9,5.9V3.6c0-1.7,1.5-3,3.3-3l0,0c1.8,0,3.3,1.4,3.3,3v2.3')
                path(d='\
                M11.8,0.7c0.3-0.1,0.6-0.1,0.9-0.1l0,0c1.5,0,2.7,0.9,3.1,2.2c0,0.1,0.1,0.3,0.1,0.5')
            p.intro-benefits-content-list-item-text Purchasing Equipment or Inventory
          li.intro-benefits-content-list-item.third
            .intro-benefits-content-list-item-wrap
              svg.intro-benefits-content-list-item-svg#debt(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='18.2', height='22', xml:space='preserve')
                polygon(points='\
                18.8,23.3 16.4,21.5 14.3,23.3 11.8,21.5 9.5,23.3 7.3,21.5 5,23.3 2.7,21.5 0.6,23.3 0.6,0.6 3,2.4 5.3,0.6 7.6,2.4 9.7,0.6 \
                11.8,2.4 14.4,0.6 16.5,2.4 18.8,0.6 ')
                line(x1='10', y1='6.6', x2='10', y2='17.5')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='\
                M13.5,9.9c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.2-0.3-0.5-0.5-0.7c-0.2-0.2-0.5-0.3-0.7-0.5c-0.2-0.1-0.4-0.1-0.7-0.1c-0.1,0-3,0-3.1,0\
                c-1,0.1-1.6,0.6-1.9,1.2C6.3,9.4,6.3,9.6,6.3,9.9c0,0.3,0.1,0.6,0.2,0.8C6.7,11.4,7.4,12,8.3,12c0.1,0,3.2,0,3.2,0\
                c1,0.1,1.6,0.6,1.9,1.3c0.1,0.3,0.2,0.6,0.2,0.8c0,0.3-0.1,0.6-0.2,0.8c-0.3,0.7-0.9,1.2-1.9,1.2c-0.1,0-3,0-3.1,0\
                c-0.6,0-1.1-0.3-1.4-0.6c-0.4-0.4-0.7-0.9-0.7-1.5')
            p.intro-benefits-content-list-item-text Refinance Unwanted Debt
          li.intro-benefits-content-list-item.fourth
            .intro-benefits-content-list-item-wrap
              svg.intro-benefits-content-list-item-svg#cashflow(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='23', height='23', xml:space='preserve')
                path(style='stroke:#02557F;', d='M23.1,14.4h-0.7V4.1\
                c0-2-1.6-3.6-3.6-3.6H4.1c-2,0-3.6,1.6-3.6,3.6v16c0,2,1.6,3.6,3.6,3.6h14.6c2,0,3.6-1.6,3.6-3.6v-1.5h0.7c0.4,0,0.7-0.3,0.7-0.7\
                v-2.9C23.8,14.7,23.5,14.4,23.1,14.4z M19.4,9.3C19.4,9.3,19.5,9.3,19.4,9.3l0-5.2c0-0.4-0.3-0.7-0.7-0.7H4.9C1.6,3.4,2,6.6,2,10\
                M18,6.3H4.9C2.2,6.3,2.3,9.1,2,10 M2,10c0.6,0.5,1.4,0.7,2.2,0.7h16.1c1.2,0,2.2,1,2.2,2.2 M22.4,17.3h-5.1c-0.4,0-0.7-0.3-0.7-0.7\
                c0-0.4,0.3-0.7,0.7-0.7h5.1V17.3z')
            p.intro-benefits-content-list-item-text Meeting Payroll and General Cash Flow Needs
          li.intro-benefits-content-list-item.fifth
            .intro-benefits-content-list-item-wrap
              svg.intro-benefits-content-list-item-svg#expand(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='26', height='17', xml:space='preserve')
                path(d='\
                M12.1,8.6c0,0.5-0.4,0.9-0.9,0.9H7.9C7.5,9.5,7,9.7,6.7,10c-0.3,0.3-0.5,0.8-0.5,1.3c0,0.5,0.2,0.9,0.5,1.2l2.5,2.6\
                c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2-0.1,0.5-0.3,0.6c-0.3,0.3-0.9,0.3-1.3,0L1,9.6c0,0,0,0-0.1-0.1C0.7,9.3,0.6,9,0.6,8.6\
                c0-0.4,0.2-0.8,0.4-1l6.9-6.7c0.3-0.3,0.9-0.3,1.2,0C9.3,1,9.4,1.2,9.4,1.5c0,0.2-0.1,0.5-0.3,0.6L6.7,4.7C6.4,5,6.2,5.5,6.2,5.9\
                c0,0.5,0.2,0.9,0.5,1.2C7,7.5,7.5,7.7,7.9,7.7h3.2C11.7,7.7,12,8.1,12.1,8.6L12.1,8.6z M24.9,9.6L18,16.3c-0.3,0.3-0.9,0.3-1.2,0\
                c-0.2-0.2-0.3-0.4-0.3-0.6c0-0.2,0.1-0.5,0.3-0.6l2.4-2.6c0.3-0.3,0.5-0.8,0.5-1.3c0-0.5-0.2-0.9-0.5-1.2c-0.3-0.3-0.8-0.5-1.3-0.5\
                h-3.2c-0.5,0-0.9-0.4-0.9-0.9v0c0-0.5,0.4-0.9,0.9-0.9h3.2c0.5,0,0.9-0.2,1.2-0.5c0.3-0.3,0.5-0.8,0.5-1.3c0-0.5-0.2-0.9-0.5-1.2\
                l-2.5-2.6c-0.2-0.2-0.3-0.4-0.3-0.6s0.1-0.5,0.3-0.6c0.3-0.3,0.9-0.3,1.3,0l6.9,6.7c0,0,0,0,0.1,0.1c0.2,0.3,0.3,0.6,0.3,1\
                C25.3,9,25.1,9.3,24.9,9.6z')
            p.intro-benefits-content-list-item-text Expansion and Growth
          li.intro-benefits-content-list-item.sixth
            .intro-benefits-content-list-item-wrap
              svg.intro-benefits-content-list-item-svg#improve(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='21.5', height='20', xml:space='preserve')
                polyline(style='fill-rule:evenodd;clip-rule:evenodd;', points='\
                0.7,18.6 7.9,18.6 7.9,11.4 ')
                polyline(style='fill-rule:evenodd;clip-rule:evenodd;', points='\
                22.2,1.4 15,1.4 15,8.7 ')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='\
                M7.6,18.7C4.3,17.2,2,13.9,2,10.1c0-5,3.9-9,8.7-9.4')
                path(style='fill-rule:evenodd;clip-rule:evenodd;', d='\
                M15.1,1.4c3.3,1.4,5.7,4.8,5.7,8.6c0,4.9-3.8,9-8.6,9.4')
            p.intro-benefits-content-list-item-text Store Improvements/Renovations


