section.section.how

  .how-steps
    
    h2.how-steps-title
      span.how-steps-title-text How It Works
    
    .how-steps-list
      .how-steps-list-wrap
        
        .how-steps-list-item.apply
          .how-steps-list-item-icon
          .how-steps-list-item-text Apply Online

        .how-steps-list-item.approve
          .how-steps-list-item-icon
          .how-steps-list-item-text Get Approved

        .how-steps-list-item.fund
          .how-steps-list-item-icon
          .how-steps-list-item-text Get Funded
