section.section.section-inner-page
  .inner-page-wrap
    p.body-paragraph
      strong This privacy policy will notify you of the following
    ul.summary-list
      li.summary-list-item
        | What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.
      li.summary-list-item What choices are available to you regarding the use of your data.
      li.summary-list-item The security procedures in place to protect the misuse of your information.
      li.summary-list-item How you can correct any inaccuracies in the information.
    br
    p.body-paragraph
      | We reserve the right to change this Privacy Notice from time to time. Your use of our site and submission of Personal Information online constitutes acceptance and understanding of this Statement as in effect at the time of your submission.
    h2 What information we collect and what we do with it
    p.body-paragraph
      | We do not collect Personal Information from visitors to our site unless you voluntarily decide to transmit it to us through one of the provided e-mail addresses or as part of an application. Visitors are invited to apply for our products or services, make inquiries about our company and the services we provide, or to inquire about job opportunities. We will use the information you provide us in those communications to respond to your inquiry and to provide you with information relating to our company or services that we believe you may find of interest. We may also use that information to market products or services to you.
    br
    p.body-paragraph
      | We may also provide this information to our affiliated companies or to third parties to allow our affiliated companies or those other third parties to provide you with information relating to products or services that we or they believe you may find of interest. We also disclose your Personal Information to contractors or service providers who provide services or perform functions on our behalf - for example, an information technology service provider or human resources consultant. Those contractors and service providers are permitted to use your Personal Information only for the purpose for which it has been provided and may not disclose it to any other third party except at our express direction and consistently with this Privacy Statement.
    h2 Your access to and control over information
    p.body-paragraph
      strong
        | You can do the following at any time by contacting us via the email address or phone number given on our website
    ul.summary-list
      li.summary-list-item See what data we have about you, if any.
      li.summary-list-item Change/correct any data we have about you.
      li.summary-list-item Have us delete any data we have about you.
      li.summary-list-item Express any concern you have about our use of your data.
    h2 Cookies
    p.body-paragraph
      | We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.
    h2 Security
    p.body-paragraph
      | We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
    p.body-paragraph
      | While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
    p.body-paragraph
      | If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 212-390-8877 or via email at info@mylifecapital.com.
    br
    br
    p.body-paragraph
      strong Mailing Address
    p.body-paragraph
      | Life Capital <br />
      | 42 Broadway <br /> New York, NY 10004

