/* ==========================================================================
	 Footer
	 ========================================================================== */


.footer
	background-color: $subberwhite
	padding-top: 20px
	color: $border
	font-size: 15px
	font-weight: 600

	&-wrap
		width: 90%
		max-width: 1170px
		+center
		padding: 32px 0
		border-top: 1px solid $border
		+clearfix

	&-section
		float: left
		
		+max(920)
			width: 90% !important
			float: none
			clear: both
			+center

		&.info
			width: 45%
		&.links
			width: 55%


		&-contact
			+clearfix

			&-item
				padding-top: 10px

				
				+max(920)
					text-align: center
					margin-bottom: 10px
				
				&:first-child
					padding-top: 0

				&-text
					color: $border

				&-icon
					float: left
					margin-right: 8px
					
					+max(920)
						float: none
						text-align: center

					&:after

						.phone &
							+icon('c')
							margin-right: 5px
							font-size: 19px
							font-family: lccons-social
							font-weight: 400
							cursor: default

						.email &
							+icon('e')
							position: relative
							top: 1px
							left: 1px
							margin-right: 7px
							font-size: 15px
							font-family: lccons-social
							font-weight: 400
							cursor: default

						.address &
							+icon('d')
							position: relative
							top: 1px
							margin-right: 7px
							font-size: 17px
							font-family: lccons-social
							font-weight: 400
							cursor: default
				


		&-copyright
			position: relative
			margin-top: 25px
			+clearfix

			+max(920)
				position: relative
				top: 95px
				width: 363px
				+center(52px)
				left: -12px

			+max(520)
				width: 290px
				left: 0

			+max(350)
				left: -10px

			&-logo
				display: block

				+max(520)
					+size(40)

			&-text
				position: absolute
				+valign
				left: 72px

				+max(520)
					// padding-top: 10px
					// width: 210px
					font-size: 12px
					left: 53px

				&-strong
					display: inline
					font-family: helvetica, arial, sans-serif
					font-weight: 700
					// font-size: 16px
					// +max(520)

					&:after
						content: '©'





		&-social
			// margin-top: -10px
			+clearfix

			+max(920)
				position: relative
				top: -70px
				width: 208px
				+center(25px)

			&-item
				float: right
				margin-left: 24px
				
				&:last-child
					margin-left: 0

				&-link
					display: block
					+clearfix

					&:hover &-text
						text-decoration: underline

					&-text
						position: relative
						margin-left: 30px
						padding-top: 5px
						line-height: 1
						color: $border



					&-icon
						position: relative
						float: left
						+size(23)
						background-color: $border
						border-radius: 50%

						&:after
							position: absolute
							+valign(48%)
							width: 100%
							font-size: 13px
							text-align: center
							color: $subberwhite

							.mobile &
								top: 53%

							.linkedin &
								+icon('b')
								font-family: lccons-social
								font-weight: 400
								cursor: pointer
							.facebook &
								+icon('a')
								font-family: lccons-social
								font-weight: 400
								cursor: pointer





		&-policies
			margin-top: 20px
			+clearfix

			+max(920)
				position: relative
				top: -57px
				width: 100%
				text-align: center
				+center
				margin-top: 10px
				&-item:nth-child(3)
					margin-left: 0


			&-item
				float: right
				// margin: 15px 0 0 24px
				margin-left: 24px
				
				+max(920)
					text-align: center
					float: none
					margin-left: 0
					display: inline-block

					&:first-child
						margin-right: 20px
				

				&-link
					color: $border

				&:hover
					text-decoration: underline



/* ==========================================================================
